<svg
  class="graph-canvas"
  [attr.width]="svgWidth"
  [attr.height]="svgHeight"
  [attr.viewBox]="'0 0 ' + svgWidth + ' ' + svgHeight"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <marker
      id="arrow"
      viewBox="0 0 10 10"
      refX="10"
      refY="5"
      markerWidth="6"
      markerHeight="6"
      orient="auto"
    >
      <path d="M 0 0 L 10 5 L 0 10 z" fill="#333"></path>
    </marker>
  </defs>

  <!-- EDGES -->
  <g class="edges">
    <path
      *ngFor="let edge of graph.edges"
      [attr.d]="getEdgePath(edge)"
      fill="none"
      stroke="#333"
      stroke-width="2"
      marker-end="url(#arrow)"
      [attr.stroke-dasharray]="edge.dashed ? '5,5' : null"
    ></path>
  </g>

  <!-- INLINE GUARD / ACTION -->
  <g class="inline-decorations">
    <ng-container *ngFor="let edge of graph.edges">
      <ng-container *ngIf="getInlineBox(edge) as box">
        <rect
          [attr.x]="box.x - 40"
          [attr.y]="box.y - 18"
          width="80"
          height="36"
          rx="6"
          ry="6"
          fill="#4A90E2"
          stroke="#333"
          stroke-width="2"
        />
        <text
          [attr.x]="box.x"
          [attr.y]="box.y + 4"
          text-anchor="middle"
          font-size="11"
          fill="#fff"
        >
          {{ box.label }}
        </text>
      </ng-container>
    </ng-container>
  </g>

  <!-- NODES -->
  <g class="nodes">
    <g
      *ngFor="let node of graph.nodes"
      [attr.transform]="'translate(' + node.x + ',' + node.y + ')'"
    >
      <!-- MAIN STATE -->
      <rect
        *ngIf="node.type === 'state'"
        x="-70"
        y="-30"
        width="140"
        height="60"
        rx="10"
        ry="10"
        fill="#F5E6C8"
        stroke="#333"
        [attr.stroke-width]="node.isCurrent ? 4 : 2"
      />

      <!-- FAILED STATE -->
      <rect
        *ngIf="node.type === 'failure'"
        x="-70"
        y="-30"
        width="140"
        height="60"
        rx="10"
        ry="10"
        fill="#E74C3C"
        stroke="#333"
        stroke-width="2"
      />

      <!-- LABEL -->
      <text text-anchor="middle" font-size="11" fill="#000" y="4">
        {{ node.label }}
      </text>
    </g>
  </g>
</svg>
